.site-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.site-layout-main {
  flex: 1;
  width: 100%;
}

.site-layout-main-container {
  max-width: none;
  margin: 0;
  padding: 28px 60px 8px;
}
